@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Grand+Hotel&family=Rubik:ital,wght@1,500&family=Sacramento&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Header */

.header {
	width: 100%;
	height: auto;
	display: flex;
	background-image: linear-gradient(45deg, #fe8c00,#f83600,#fe8c00);
	text-align: center;
	align-items: center;

}

.header div{
	justify-content: center;
}

/* Navigation */

.header .nav{
	flex: 1;
}

.nav a{
	font-family: 'Rubik', sans-serif;
	float: left;
	text-decoration: none;
	color: white;
	padding: 20px;
	margin: 5px;
	font-size: 20px;
	transition: 0.5s;
}

.nav a:hover{
	border-radius: 10%;
	color: #f83600;
	background-color: white;
	box-shadow: 3px 3px 5px #414345;
}

/* Header Marathi Logo */

.header .logo{
	height: 80px;
	flex: 1;
}

.logo img{
	width: 100%;
	height: 100%;
}

/* Social Media Icons */

.header .media{
	flex: 1;
}

.media{
	height: 70px;
	width: 50%;
}

.media a{
	float: right;
	margin: 15px 20px;
	text-align: center;
	width: 36px;
	height: 36px;
	background: white;
	color: #414345;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.7s;
	box-shadow: 3px 3px 5px #414345;
}

.media a .fab{
	line-height: 36px;
}

.media a:nth-child(1):hover{
	color: white;
	background-image: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
	border-radius: 50%;
	transform: scale(1.4);
}

.media a:nth-child(2):hover{
	color: white;
	background-color: #00aced;
	border-radius: 50%;
	transform: scale(1.4);
}

.media a:nth-child(3):hover{
	color: white;
	background-color: #0e76a8;
	border-radius: 50%;
	transform: scale(1.4);
}
