@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Grand+Hotel&family=Rubik:ital,wght@1,500&family=Sacramento&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Header */

.header {
	width: 100%;
	height: auto;
	display: flex;
	background-image: linear-gradient(45deg, #fe8c00,#f83600,#fe8c00);
	text-align: center;
	align-items: center;

}

.header div{
	justify-content: center;
}

/* Navigation */

.header .nav{
	flex: 1;
}

.nav a{
	font-family: 'Rubik', sans-serif;
	float: left;
	text-decoration: none;
	color: white;
	padding: 20px;
	margin: 5px;
	font-size: 20px;
	transition: 0.5s;
}

.nav a:hover{
	border-radius: 10%;
	color: #f83600;
	background-color: white;
	box-shadow: 3px 3px 5px #414345;
}

/* Header Marathi Logo */

.header .logo{
	height: 80px;
	flex: 1;
}

.logo img{
	width: 100%;
	height: 100%;
}

/* Social Media Icons */

.header .media{
	flex: 1;
}

.media{
	height: 70px;
	width: 50%;
}

.media a{
	float: right;
	margin: 15px 20px;
	text-align: center;
	width: 36px;
	height: 36px;
	background: white;
	color: #414345;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.7s;
	box-shadow: 3px 3px 5px #414345;
}

.media a .fab{
	line-height: 36px;
}

.media a:nth-child(1):hover{
	color: white;
	background-image: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
	border-radius: 50%;
	transform: scale(1.4);
}

.media a:nth-child(2):hover{
	color: white;
	background-color: #00aced;
	border-radius: 50%;
	transform: scale(1.4);
}

.media a:nth-child(3):hover{
	color: white;
	background-color: #0e76a8;
	border-radius: 50%;
	transform: scale(1.4);
}

/* Main Content */

/* Welcome Card */

.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 15px auto;
}

.container .card{
    position: relative;
    width: 100%;
    height: 580px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.container .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .face.face1 .content {
	transform: translateY(25px);
}

.container .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
}

.container .card .face.face1 h2{
    margin: 0;
    padding: 0;
}

.container .card .face.face2{
    background: #111;
    transition: 0.5s;
}

.container .card:hover .face.face2{
    height: 60px;
}

.container .card .face.face2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(225, 255, 255, 0.1);
}

.container .card .face.face2 h2{
	font-family: 'Macondo Swash Caps', cursive;
	margin: 0;
    padding: 0;
    font-size: 100px;
	color: #fff;
	transition: 0.5s;
}

.container .card:hover .face.face2 h2{
	font-size: 40px;
}

.container .card .face.face2{
    background: linear-gradient(45deg,#e91e63,#ffeb3b);
}

.intro{
	transform: translateY(-40px);
	margin: 0;
	padding: 0;
	display: flex;
}

.intro .img{
	width: 33%;
	height: auto;
}

.info{
	margin: 0;
	padding: 0;
	width: 67%;
	height: auto;
}

.info p{
	font-size: 40px;
	font-family: 'Sacramento', cursive;
}

.info p i{
	font-family: 'Satisfy', cursive;
	color: chocolate;
	font-size: 40px;
}

.info h2{
	font-size: 50px;
	font-family: 'Bangers', cursive;
}

.info h2 i{
	font-size: 40px;
	font-family: 'Grand Hotel', cursive;
}

.info h1{
	transform: translateY(-30px);
	color: #833ab4;
	font-size: 50px;
	font-family: 'Zilla Slab Highlight', cursive;
}

.button1 a {
	background: linear-gradient(45deg,#f83600, #e91e63);
	float: right;
	transform: translateY(-20px);
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.button1 a svg,
.button1 a svg rect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}

.button1 a svg rect {
	stroke: #ffeb3b;
	stroke-width: 10;
	transition: 2s;
	stroke-dasharray: 60 200;
	stroke-dashoffset: 320;
}

.button1 a:hover svg rect {
	stroke-dasharray: 200 60;
	stroke-dashoffset: 0; 
}